--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1
torchvision==0.15.2
streamlit==1.28.0
protobuf==3.20.3
importlib-metadata==6.8.0
rich<14.0.0
numpy==1.24.3
Pillow
pandas
gdown
plotly
requests
arabic-reshaper
python-bidi
streamlit-image-coordinates==0.2.2
fpdf2
-
