--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
torch
torchvision
numpy==1.26.4
Pillow
pandas
gdown
plotly
requests
arabic-reshaper
python-bidi
streamlit-image-coordinates
fpdf2
