streamlit==1.32.0
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
numpy==1.26.4
Pillow
pandas
gdown
plotly
requests
arabic-reshaper
python-bidi
